{% extends 'base.template.html' %}
{% load icon %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-sm-10 col-md-10">
        <h1>Checkout Successful!</h1>
        <p>Thank you for your payment. Please proceed to <a href="{% url 'view_downloads' %}">My Downloads</a> to download the images.</p>

        <table class="table table-striped mt-3">
            <thead>
            <tr class="thead-dark">
                <th>Item</th>
                <th>Size</th>
                <th>Cost</th>
            </tr>
            </thead>
            {% for key, item in cart.items %}
            <tr>
                <td>
                    {% for photo in photos %}
                        {% ifequal item.id photo.id|slugify %}
                            <img src="{{ photo.image.cdn_url }}-/resize/280x/" class="img-fluid mb-3" /><br/>
                        {% endifequal %}
                    {% endfor %}

                    ImageID{{ item.id }} 
                     <h4>{{ item.caption }}</h4>
                </td>
                <td class="align-middle">
                    {% ifequal item.size 'sm' %}
                        Small - 650px x 433px
                    {% endifequal %}
                    {% ifequal item.size 'md' %}
                        Medium - 1200px x 800px
                    {% endifequal %}
                    {% ifequal item.size 'lg' %}
                        Large - 1500px x 1000px
                    {% endifequal %}           
                </td>
                <td class="align-middle">{{ item.price|stringformat:".2f" }}</td>
            </tr>
            {% endfor %}
            
        </table>
    </div>
    
</div>

{% endblock %}

