@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,700;1,400&display=swap');

html{
    height: 100%;
}

body{
    height: 100%;
}

.main-bg{
    width: 100%;
    height: 100%;
    background-image: url('../img/home-bg.jpg');
    background-size: cover;
    min-height: 100%;
    vertical-align: middle;
}

.bg-overlay{
    width: 100%;
    height: 100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.3);
}

.main-section{
    color: #FFF;
    text-align: center;
    width: 688px;
    margin: auto;
    z-index: 999;
}

#site-logo{
    width: 137px;
    height: 21px;
    background-image: url('../img/site-logo.svg');
    position: fixed;
    top: 51px;
    left: 58px;
}

.headline{
    font-size: 3.42em;
    font-weight: 500;
    line-height: 1.14em;
}

#searchbar-wrapper{
    width:550px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
}

.searchbar {
    border-radius: 0;
    border-width: 0;
    background-color: #FFF;
    padding: 10px 12px;
    width: 502px;
}

.searchbar::placeholder {
    color: #F5B699;
}

#searchbar-wrapper:hover {
    transform: scale(1.1, 1.1)
}

.feather-16 {
    width:16px;
    height:16px;
}

.feather-20 {
    width:20px;
    height:20px;
}

.feather-white {
    stroke: #FFF;
}

#login-button {
    width: 250px;
    border-radius: 3px;
    background-color: rgba(37,37,37,0.8);
    padding: 15px 20px;
    text-align: center;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
}

#login-button a{
    color: #FFF;
    display:block;
    font-size: 1.14em;
}

#login-button:hover{
    background-color: #FE5F55;
    transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
}


/****** for login section ******/
.customer-login{
    width: 100%;
    height: 100%;
    background-image: url('../img/customer_login.jpg');
    background-size: cover;
    min-height: 100%;
    vertical-align: middle;
}

.photographer-login{
    width: 100%;
    height: 100%;
    background-image: url('../img/photographer_login.jpg');
    background-size: cover;
    min-height: 100%;
    vertical-align: middle;
}

.login-box {
    background-color: rgba(0,0,0,0.5);
    padding: 40px 0;
    color: #FFF;
}