
.topnav{
    height: 60px;
    padding: 10px;
    background-color: #FB7B3A;

}

.customers {
    background-color: #FB7B3A;
}

.photographers {
    background-color: #252525;
}

#site-logo{
    width: 156px;
    height: 35px;
    background-image: url('../img/site-logo-v2.svg');
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

#site-logo a{
    display:block;
    width:100%;
    height:100%;
}

.align-middle{
      vertical-align: middle;
}

.top-searchbar {
    border-radius: 0;
    border-width: 0;
    background-color: #FFF;
    padding: 10px 12px;
    width: 450px;
}

.top-searchbar::placeholder {
    color: #F5B699;
}

.cart-number {
    border-radius: 50%;
    background-color: #FE5F55;
    width: 16px;
    height: 16px;
    color: #FFF;
    font-size: 0.714em;
    line-height: 1em;
    text-align: center;
    display:inline-block;
    padding-top: 0.4em;
}

nav a:link, nav a:visited {
    color: #FFF;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
}

nav a:hover {
    transform: scale(1.2, 1.2)
}

#search-filter{
    margin-top:40px;
}

/* The sidepanel menu */
.sidepanel {
  height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 100;
  right: 0;
  margin-right:35px;
  background-color: #FFF; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.14em;
  color: #252525;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #FE5F55;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.nav-vertical a:link, .nav-vertical a:visited {
    color: #252525;
}

.nav-vertical a:hover {
    color: #FE5F55;
}