
.topnav{
    height: 60px;
    padding: 10px;
    background-color: #FB7B3A;

}

.customers {
    background-color: #FB7B3A;
}

.photographers, .admin {
    background-color: #252525;
}

#site-logo{
    width: 156px;
    height: 35px;
    background-image: url('../img/site-logo-v2.svg');
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

#site-logo a{
    display:block;
    width:100%;
    height:100%;
}

.align-middle{
      vertical-align: middle;
}

.top-searchbar {
    border-radius: 0;
    border-width: 0;
    background-color: #FFF;
    padding: 10px 12px;
    width: 450px;
}

.top-searchbar::placeholder {
    color: #F5B699;
}

.cart-number {
    border-radius: 50%;
    background-color: #FE5F55;
    width: 16px;
    height: 16px;
    color: #FFF;
    font-size: 0.714em;
    line-height: 1em;
    text-align: center;
    display:inline-block;
    padding-top: 0.4em;
}

.nav-item a:link, .nav-item a:visited {
    color: #FFF !important;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
}

.nav-item a:hover {
    transform: scale(1.2, 1.2)
}

#search-filter{
    margin-top:40px;
    display:block;
}

#mobileSearchForm {
    display:none;
}

/* The sidepanel menu */
.sidepanel {
  height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 100;
  right: 0;
  margin-right:35px;
  background-color: #FFF; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.14em;
  color: #252525;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #FE5F55;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.nav-vertical a:link, .nav-vertical a:visited {
    color: #252525;
}

.nav-vertical a:hover {
    color: #FE5F55;
}

#profile label{
    font-weight: 500;
}

#profile {
    padding:15px;
}

.uploadcare--widget__button, .uploadcare--widget__button:hover {
	padding: 12px 18px;
	background-color: #FE5F55;
	border-radius: 0;
	font-family: Sans-serif;
	font-weight: 800;
}

.uploadcare--widget__button:hover {
	background-color: #FE5F55;
}

.btn-icon {
    padding:0px;
    background-color: transparent;
    border:0;
}

#mobile-navbar, .navbar-text {
    display:none;
}

#mobile-navbar a{
    display: inline-block;
}

#filter-button{
    display:none;
}

ol li{
    padding-left: 5px;
}

.profile-img{
    border-radius: 50%;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 767.98px) { 

    body {
        padding:8px;
        font-size: 0.75rem !important;
    }

    #site-logo{
        width: 140px;
        height: 30px;
        margin-left: 8px;
        margin-right: 8px;
        background-size: 100%;
    }

    .topnav{
        height: 60px;
        padding: 10px;
    }

    ul.navbar-nav, #topsearchform {
        display:none;
    }

    #mobileSearchForm {
        display:none;
        background-color: #F5B699;
    }

    .top-searchbar {
        border-radius: 0;
        border-width: 0;
        background-color: #FFF;
        padding: 10px 12px;
        width: 85%;
    }

    .top-searchbar::placeholder {
        color: #F5B699;
    }

    #mobile-navbar{
        display: inline-block;
    }

    #mobile-navbar a{
        padding: 0 6px;
    }

    #mobile-navbar a:nth-child(2){
        padding-right: 4px;
    }

    #search-filter{
        display: none;
        transition: 2s ease-in-out;
        margin-top:0;
        margin-bottom: 30px;
        border-bottom: 1px solid #EFEFEF;
    }

    #filter-button{
        width: 68px;
        height: 68px;
        border-radius: 50%;
        background-color: #FE5F55;
        padding: 18px;
        display:block;
    }

    .nav-vertical {
        display:none;
    }

    .sidepanel {
        margin-right:8px;
    }

    .downloads .th-1, .downloads .th-3 {
        display: none;
    }
 }

    


/* // Medium devices (tablets, 768px and up to 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .top-searchbar {
        width: 300px;
    }

    ul.navbar-nav {
        display:none;
    }

    #mobile-navbar{
        display: inline-block;
    }

    #mobile-navbar a{
        padding: 0 8px;
    }

    #mobile-navbar a:nth-child(1){
        display:none;
    }

    #mobile-navbar a:nth-child(2){
        padding-right: 4px;
    }

    #mobileSearchForm {
        display:none;
    }

    .sidepanel {
        margin-right:20px;
    }
}