{% extends 'base.template.html' %}
{% load crispy_forms_tags %}
{% block extra_title %} Create Profile {% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-3">
        {% include 'sidebar.template.html' %}
    </div>
    <div class="col-sm">

        
        <h1>Personal Profile</h1>
        <p>Please fill up the following details to build your profile:</p>

        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            {{ form.media }} 
            {{ form.errors }}

            <button type="submit" class="btn btn-form">Create</button>
        </form>
    </div>
 </div>

{% endblock %}
