{% extends 'base.template.html' %}
{% load crispy_forms_tags %}

{% block content %}
 <div class="row">
    <div class="col-sm-3">
        {% include 'sidebar.template.html' %}
    </div>
    <div class="col-sm-6">

        
        <h1>Update Profile</h1>

        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            {{ form.media }} 

            <button type="submit" class="btn btn-form text-white">Update</button>
        </form>
    </div>
 </div>

{% endblock %}
