{% extends 'base.template.html' %}
{% load crispy_forms_tags %}

{% block content %}
 <div class="jumbotron jumbotron-fluid">
    <div class="container">
        
        <h1>Photographer's Profile</h1>
        <p>Set up your profile to start using Photographer's features!</p>

        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            {{ form.media }} 
            {{ form.errors }}

            <button type="submit">Create Profile</button>
        </form>
    </div>
 </div>

{% endblock %}
