{% extends 'base.template.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-sm-3 sidebar-left px-0">
        {% include 'sidebar.template.html' %}
    </div>
    <div class="col-sm">
        <h1>Photographer's Profile</h1>
        <p>Set up your profile to start using Photographer's features!</p>

        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            {{ form.media }} 
            {{ form.errors }}

            <button type="submit" class="btn btn-form">Create Profile</button>
        </form>
    </div>
 </div>

{% endblock %}
