{% extends 'base.template.html' %}
{% load static %}
{% load icon %}
{% block content %}
<div class="row">
    <div class="col-sm-3">
        <nav class="nav nav-vertical flex-column">
            <a class="nav-link active" href="{% url 'photographer_view_profile' %}">{% icon "user" class="feather-20 mr-2" %} Profile</a>
            <a class="nav-link" href="{% url 'view_albums' %}">{% icon "book" class="feather-20 mr-2" %} Album</a>
            <a class="nav-link" href="{% url 'view_uploads' %}">{% icon "upload" class="feather-20 mr-2" %} Upload History</a>
        </nav>
    </div>
    <div class="col-sm">
        <h2>My Profile</h2>

        <p>Username: {{ user_info.username }}</p>
        <p>Email: {{ user_info.email }}</p>
        <p>Date Joined: {{ user_info.date_joined }}</p>
        <p>Name: {{ user_info.first_name }} {{ user_info.last_name }}</p>
        <a href="{% url 'account_change_password' %}" class="btn btn-primary">Change Password</a>
        <hr />

        {% if profile %}

        {% if profile.profile_img %}
        <img src="{{profile.profile_img.cdn_url}}-/preview/200x200/" alt="{{ profile.display_name }}" /> 
        <a href="{% url 'upload_avatar' %}" class="btn btn-primary">Change Profile Image</a>
        {% else %}
        <img src="{% static 'img/avatar.png' %}" alt="Default Avatar" width="200"/> 
        <a href="{% url 'upload_avatar' %}" class="btn btn-primary">Add Your Avatar</a>
        {% endif %}

        <p>Display Name: {{ profile.display_name }}</p>
        <p>Date of Birth: {{ profile.dob }}</p>
        <p>Address: {{ profile.address_line1 }}<br/>
        {{ profile.address_line2 }}</p>
        <p>Postal Code: {{ profile.postal_code }}</p>
        <p>Country: {{ profile.country.name }}</p>
        <p><a href="{% url 'photographer_update_profile' %}" class="btn btn-primary">Update Profile</a></p>

        {% else %}
            Your profile is empty! Create your profile now.
            <p><a href="{% url 'photographer_create_profile' %}" class="btn btn-primary">Create Profile</a></p>
        {% endif %}
    </div>
</div>


{% endblock %}