{% extends 'base.template.html' %}
{% load icon %}

{% block content %}
<div class="row">
    <div class="col-sm-3 sidebar-left px-0">
        {% include 'sidebar.template.html' %}
    </div>
    <div class="col-sm">
    <a href="{% url 'create_album' %}" class="btn btn-form text-white float-right">
        {% icon "plus" class="feather-16 feather-white" %}Create
    </a>

    <h2> My Albums</h2>
    <div class="clearfix"></div>
    {% if albums %}
    <div class="mt-3 p-3 bg-white border custom-border clearfix">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Descriptions</th>
                    <th>Tags</th>
                    <th>Categories</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        {% for album in albums %}

            <tr>
                <td>
                    {{ album.title }}
                </td>
                <td>
                    {{ album.desc }}
                </td>
                <td>
                    <div class="tags">
                    {% for tag in album.tags.all %}
                    <a href="{% url 'search_by_tag' tag_id=tag.id %}">{{tag}}</a>
                    {% endfor %}
                    </div>
                </td>
                <td>
                    <div class="tags">
                    {% for cat in album.category.all %}
                        <a href="#">{{ cat }}</a>
                    {% endfor %}
                    </div>
                </td>
                <td>
                <a href="{% url 'edit_album' album_id=album.id %}" class="text-reset">{% icon "edit" class="feather-20 mr-2" %}</a>
                </td>
                <td>
                    <!-- Button trigger modal -->
                    <a href="#" class="text-reset" data-toggle="modal" data-target="#exampleModalCenter">
                        {% icon "trash-2" class="feather-20 mr-2" %}
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Confirm Delete</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            You deleting <strong>{{ album.title }}</strong>
                            <p>Are you sure? You will not be able to retrieve it back after deleting.</p>
                        </div>
                        <div class="modal-footer">
                        <form method="POST" action="{% url 'delete_album' album_id=album.id%}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-form text-white">Confirm Delete</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </form>
                        </div>
                        </div>
                    </div>
                    </div>                
                </td>
            </tr>
        
        {% endfor %}
        </table>
    </div>
    {% else %}
        No album has been created. 
    {% endif %}

    </div>    
</div>


{% endblock %}