{% extends 'base.template.html' %}


{% block content %}
    <h2>My Uploads</h2>
    {% if photos %}
    <table class="table">
    <thead>
        <tr>
            <th>Date Uploaded</th>
            <th>Image</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    {% for photo in photos %}

        <tr>
            <td>{{ photo.date_added|date:'d-m-Y' }}</td>
            <td class="align-middle">
                <img src="{{ photo.image.cdn_url }}-/resize/x160/" class="img-fluid float-left mx-2" alt="{{photo.caption}}">
                <h5>{{photo.caption}}</h5>
                <p>{{ photo.desc }}</p>
                <p>
                    {% for tag in photo.tags.all %}
                        <a href="#" class="badge badge-info">{{ tag }}</a>
                    {% endfor %}
                </p>
            </td>
            <td><span class="align-middle"><a href="{% url 'edit_photo' photo_id=photo.id %}">Edit</a></span></td>
            <td><a href="{% url 'delete_photo' photo_id=photo.id %}">Delete</a></td>
        </tr>

    {% endfor %}
    </table>
    {% else %}
        No photos uploaded. <a href="{% url 'add_photo' %}" class="btn btn-primary">Start Uploading!</a>
    {% endif %}

{% endblock %}