{% extends 'base.template.html' %}


{% block content %}
    <h2>My Albums</h2>
    {% if albums %}
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Descriptions</th>
                    <th>Tags</th>
                    <th>Categories</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        {% for album in albums %}

            <tr>
                <td>
                    {{ album.title }}
                </td>
                <td>
                    {{ album.desc }}
                </td>
                <td>
                    {% for tag in album.tags.all %}
                    <span class="badge badge-info">{{tag}}</span>
                    {% endfor %}
                </td>
                <td>
                    {% for cat in album.category.all %}
                        <span class="badge badge-info">{{ cat }}</span>
                    {% endfor %}
                </td>
                <td>
                <a href="{% url 'edit_album' album_id=album.id %}">Edit</a>
                </td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        Delete
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Confirm Delete</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <strong>You are about to delete [{{ album.title }}]</strong>
                            <p>Are you sure? You will not be able to retrieve it back after deleting.</p>
                        </div>
                        <div class="modal-footer">
                        <form method="POST" action="{% url 'delete_album' album_id=album.id%}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Confirm Delete</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </form>
                        </div>
                        </div>
                    </div>
                    </div>                
                </td>
            </tr>
        
        {% endfor %}
        </table>
    {% else %}
        No album has been created. 
        <a href="{% url 'create_album' %}" class="btn btn-primary">Create Album</a>
    {% endif %}

    



{% endblock %}