{% extends 'base.template.html' %}
{% load icon %}

{% block content %}

<div class="row">
    <div class="col-sm-3">
        {% include 'sidebar.template.html' %}
    </div>
    <div class="col-sm">
    <a href="{% url 'add_photo' %}" class="btn btn-form float-right text-white">{% icon "upload" class="feather-16 feather-white mr-2" %}Upload Photos</a>
    <h2>My Uploads </h2>

    
    {% if photos %}
    <table class="table mt-4">
    <thead>
        <tr>
            <th>Date Uploaded</th>
            <th>Image</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    {% for photo in photos %}

        <tr>
            <td>{{ photo.date_added|date:'d-m-Y' }}</td>
            <td class="align-middle">
                <img src="{{ photo.image.cdn_url }}-/resize/x160/" class="img-fluid float-left mx-2" alt="{{photo.caption}}">
                <h5>{{photo.caption}}</h5>
                <p>{{ photo.desc }}</p>
                <div class="tags">
                    {% for tag in photo.tags.all %}
                        <a href="#">{{ tag }}</a>
                    {% endfor %}
                </div>
            </td>
            <td><span class="align-middle"><a href="{% url 'edit_photo' photo_id=photo.id %}" class="text-reset">{% icon "edit" class="feather-20 mr-2" %}</a></span></td>
            <td><a href="{% url 'delete_photo' photo_id=photo.id %}" class="text-reset"> {% icon "trash-2" class="feather-20 mr-2" %}</a></td>
        </tr>

    {% endfor %}
    </table>
    {% else %}
        No photos uploaded. 
    {% endif %}
    </div>
</div>
{% endblock %}