{% extends 'base.template.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load icon %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h4>Tags Available</h4>
            <table class="table">
            {% for tag in tags.all %}
                <tr>
                    <td>{{ tag }}</td>
                    <td><a href="{% url 'edit_tag' tag_id=tag.id %}">{% icon "edit" class="feather-20 mr-2" %}</a></td>
                    <td>
                        <!-- Button trigger delete modal -->
                        
                        <a href="#" data-toggle="modal" data-target="#DeleteModal{{tag.id}}" class="text-reset"> 
                        {% icon "trash-2" class="feather-20 mr-2" %}
                        </a>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="DeleteModal{{tag.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Confirm Delete</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <strong>You are about to delete [{{ tag.name }}]</strong>
                                <p>Are you sure? You will not be able to retrieve it back after deleting.</p>
                            </div>
                            <div class="modal-footer">
                            <form method="POST" action="{% url 'delete_tag' tag_id=tag.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-form">Confirm Delete</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </form>
                            </div>
                            </div>
                        </div>
                        </div> 
                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>
        <div class="col-sm-4">
           <form method="POST" action="{% url 'add_tags' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-form text-white">Add Tag</button>
           </form>
        </div>
    </div>

</div>


{% endblock %}

{% block postloadjs %}
{% endblock %}