{% extends 'base.template.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h4>Tags Available</h4>
            {% for tag in tags.all %}
                <div class="d-block"> 
                    <a href="#" class="badge badge-info">{{ tag }}</a> 
                    <a href="{% url 'edit_tag' tag_id=tag.id %}">Edit</a>
                    <a href="{% url 'delete_tag' tag_id=tag.id %}">Delete</a>
                </div>
            {% endfor %}
        </div>
        <div class="col-sm">
           <form method="POST" action="{% url 'add_tags' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit">Add Tag</button>
           </form>
        </div>
    </div>

</div>


{% endblock %}

{% block postloadjs %}
{% endblock %}