{% extends 'base.template.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h4>Categories Available</h4>
            {% for category in categories.all %}
                <div class="d-block"><a href="#">{{ category }}</a>
                    <a href="#" class="badge badge-info">{{ tag }}</a> 
                    <a href="{% url 'edit_category' category_id=category.id %}">Edit</a> 
                    <a href="{% url 'delete_category' category_id=category.id %}">Delete</a>
                </div>
            {% endfor %}
        </div>
        <div class="col-sm">
           <form method="POST" action="{% url 'add_category' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit">Add Category</button>
           </form>
        </div>
    </div>

</div>


{% endblock %}

{% block postloadjs %}
{% endblock %}