{% extends 'base.template.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h4>Tags Available</h4>
            {% for tag in tags.all %}
                <a href="#" class="badge badge-info">{{ tag }}</a>
            {% endfor %}
        </div>
        <div class="col-sm">
           <form method="POST" action="{% url 'add_tags' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit">Add Tag</button>
           </form>
        </div>
    </div>

</div>


{% endblock %}

{% block postloadjs %}
{% endblock %}