{% extends 'base.template.html' %}

{% block extrajs %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <img src="{{ photo.image.cdn_url }}-/resize/480x/" alt="{{ photo.caption }}" />
        </div>
        <div class="col-sm">
            <h2>You are deleting this photo</h2>
            Are you sure? You will not be able to retrieve it back after deleting.
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Confirm Delete</button>
                <a href="{% url 'view_photo' photo_id=photo.id %}" class="btn btn-primary">Cancel</a>
            </form>
        </div>
    </div>

</div>



{% endblock %}