{% extends 'base.template.html' %}
{% load icon %}
{% load static %}

{% block content %}

<div class="container-flex">
    <div class="row justify-content-left">
        <div class="col-sm-5">
            <img src="{{ photo.image.cdn_url }}-/resize/500x/" alt="{{ photo.caption }}" class="img-fluid" />
            <div class="my-2">
                <div class="tags">
                {% for tag in photo.tags.all %}
                    <a href="{% url 'search_by_tag' tag_id=tag.id %}">{{ tag }}</a>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-6 border custom-border p-3 bg-white">
            <h3>{{ photo.caption }}</h3>
            <h4>${{ photo.price|stringformat:".2f" }}</h4>
            <p>{{ photo.desc }}</p>

            <p class="photographer"><img src="{% static 'img/camera.svg' %}" width="18" alt="photograher icon"> <a href="{% url 'photographer_public_profile' photographer_id=photo.owner.id %}" class="text-darkpink">{{ photo.owner.display_name }}</a></p>
            <hr />
            
            <form method="POST" action="{% url 'add_to_cart' photo_id=photo.id %}" class="mt-3">
                {% csrf_token %}
                <p>Select a size to download:</p>
                <div class="custom-control custom-radio">
                    <input type="radio" name="size" id="size-small" value="sm" checked />
                    <label for="size-small"> Small - 650px x 433px</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" name="size" id="size-medium" value="md" />
                    <label for="size-medium"> Medium - 1200px x 800px</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" name="size" id="size-large" value="lg" />
                    <label for="size-large"> Large - 1500px x 1000px</label>
                </div>
                
                <button type="submit" class="btn btn-form px-5 mt-4" {% if user.is_authenticated %}{% ifnotequal 'customers' request.user.groups.all.0.name %}disabled{% endifnotequal %}{% endif %}
>Download</button>

            </form>
            <p><small>By clicking the download button, we will add this image to your cart first, so that you can download it later after you have made your payment.</small></p>
        </div>
    </div>

</div>
{% if related_photos %}
<div class="container-flex mt-4">
    <hr />
    <h2>Related Photos</h2>

    <div class="row row-cols-1 row-cols-md-4 p-4">
        {% for photo in related_photos %}

        <div class="col mb-2 px-0 ">
            <div class="image-container">
                <img src="{{ photo.image.cdn_url }}-/preview/" class="image" alt="{{photo.caption}}" />
                <div class="overlay">
                    <a href="{% url 'view_photo' photo_id=photo.id %}">{{photo.caption}}</a>
                    <a href="">{% icon 'heart' class='feather-20 feather-white float-right mx-1' %}</a>
                    <a href="{% url 'view_photo' photo_id=photo.id %}">{% icon 'download' class='feather-20 feather-white float-right mx-1' %}</a>
                    
                </div>
            </div>
        </div>   
        {% endfor %}
    </div>
</div>
{% endif %}
{% if photographer_set %}
<div class="container-flex mt-4">
    <hr />
    <h2>From This Photographer</h2>
    <div class="row row-cols-1 row-cols-md-4 p-4">
        {% for photo in photographer_set %}

        <div class="col mb-2 px-0 ">
            <div class="image-container">
                <img src="{{ photo.image.cdn_url }}-/preview/" class="image" alt="{{photo.caption}}" />
                <div class="overlay">
                    <a href="{% url 'view_photo' photo_id=photo.id %}">{{photo.caption}}</a><a href="">{% icon 'heart' class='feather-20 feather-white float-right mx-1' %}</a><a href="{% url 'view_photo' photo_id=photo.id %}">{% icon 'download' class='feather-20 feather-white float-right mx-1' %}</a>
                    
                </div>
            </div>
        </div>   
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}