{% extends 'base.template.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <img src="{{ photo.image.cdn_url }}-/resize/480x/" alt="{{ photo.caption }}" />
            <div class="my-2">
                <h4>Tags</h4>
                {% for tag in photo.tags.all %}
                    <a href="#" class="badge badge-info">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm">
            <h3>{{ photo.caption }}</h3>
            <p>{{ photo.desc }}</p>

            <p class="photographer">{{ photo.owner.display_name }}</p>
            <form method="POST" action="{% url 'add_to_cart' photo_id=photo.id %}">
                {% csrf_token %}
                <p>Select a size to download:</p>
                <div class="custom-control custom-radio">
                    <input type="radio" name="size" id="size-small" value="sm" />
                    <label for="size-small">Small - 650px x 433px</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" name="size" id="size-medium" value="md" />
                    <label for="size-medium">Medium - 1200px x 800px</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" name="size" id="size-large" value="lg" />
                    <label for="size-large">Large - 1500px x 1000px</label>
                </div>
                <button type="submit" class="btn btn-primary">Download</button>
            </form>
            <p><small>By clicking the download button, we will add this image to your cart first, so that you can download it later after you have made your payment.</small></p>
        </div>
    </div>

</div>

{% endblock %}